:root{
    --color-blue: #1976d2;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Comic Neue', cursive;
}

body {
    background: var(--color-blue);
}

header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1)
}

header div {
    text-align: center;
}

header div a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 10px;
    padding-bottom: 3px;
}

header div a:hover {
    color: #50fa7b;
    transition: color 300ms;
}
#wrapper {
    text-align: center;
    padding: 35px 0;
}

#wrapper img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border:  solid 1px ;
}

#wrapper h1 {
    font-size: 42px;
}

#wrapper h2 {
    font-size: 24px;
}

#wrapper #social {
    font-size: 30px;
}

#social a {
    color: black;
}